html,
body {
  overflow: auto;
  background-color: #2f2e2e;
  color: #ffffff;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  display: flex; /* makes the form a flex container */
  flex-direction: column; /* aligns the form's children vertically */
  align-items: center; /* centers the form's children horizontally */
  justify-content: center; /* centers the form's children vertically */
 
}
input{
  margin: auto;
  text-align: center;
  display: block;
  
}

link {
  margin: auto;
  text-align: center;
}

.title,
.nav {
  text-align: center;
}

.dropdown-menu{
  color:rgb(255, 255, 255);
}

.loading {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

#app {
  height: 100vh;
}
.appContainer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.image-placeholder {
  font-weight: 900;
  border-radius: 75px;
  border-color: chocolate;
}

.formContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.alert-list,
.alert-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

#link {
  text-decoration-line: none;
}

.alerts {
  color: red;
  font-size: x-large;
}

p {
  font-size:x-large;
  text-align: center;
  display: block;
  flex-basis: auto;
  border: #2f2e2e;
  color: rgba(255, 66, 66, 0.953);
  margin: auto;
  text-align: center ;
}

.Link {
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 7vh;
  text-align: center;
  display: flex;

} 

Button {
  margin: auto;
  text-align: center;
  color: aliceblue;
  display: block;
  margin-top: 9vh;
}

.background {background-image: var(--bs-bg-dark-bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  --bs-bg-opacity: 1;
  color: aliceblue;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.header {
  z-index: 2;
  color: #ff5b5b;
  margin-top: 7vh;
  background-color: linear-gradient(rgba(134,115,71,1.0),rgba(131,110,82,1.0),rgba(111,85,62,1.0),rgba(78,59,42,1.0),rgba(96,91,78,1.0),rgba(117,117,107,1.0));
}

.dusk {
  background: radial-gradient(orange, #1f3c9b, #0e183d, #171e36);
  background-size: 200% 250%;background-position:  0% -100px;background-repeat: no-repeat;
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -0;
  animation: sunset 3s ease-in 1; 
  animation-fill-mode: forwards;
  overflow: auto;
}

.dawn {
  background: radial-gradient(#efb456 5%, 15%, #2c55db 50%, #3c4e8c, #2b3866); background-size: 200% 250%;background-position:  0% -100px;background-repeat: no-repeat;
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: sunrise 3s ease-in 1; 
  animation-fill-mode: forwards;
  overflow: auto;
}

.waiting {
  background: radial-gradient(#efb456 3%, 8%, #7daaf2 30%, #6787fc, #5076fc);background-size: 200% 250%; background-position:40% 100%; background-repeat: no-repeat;opacity: 0.8;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  animation-fill-mode: forwards;
  overflow: auto;
} 

@keyframes sunrise {
  
  0%{background: radial-gradient(#efb456 5%, 15%, #2c55db 50%, #3c4e8c, #2b3866); background-size: 200% 250%;background-position: 0% -100px;background-repeat: no-repeat; opacity: 1}
  
  
 25%{background: radial-gradient(#efb456 5%, 15%, #365ddb 50%, #253463, #35457f); background-size: 200% 250%;background-position: 10% 25%;background-repeat: no-repeat; opacity: 0.9}
  
  50%{background: radial-gradient(#efb456 5%, 15%,  #8db0e8 30%, #4e68c4, #3b53aa); background-position:20% 50%; background-size: 200% 250%;background-repeat: no-repeat; opacity: 0.9} 
  
  75%{ background: radial-gradient(#efb456 5%, 15%, #8db0e8 30%, #4e70ed, #4369f2);background-size: 200% 250%; background-position:30% 75%; background-repeat: no-repeat;opacity: 0.9;
  }
  
  95%{ background: radial-gradient(#efb456 5%, 15%, #7daaf2 30%, #6787fc, #5076fc);background-size: 200% 250%; background-position:40% 96%; background-repeat: no-repeat;opacity: 0.8;
  }
  100%{ background: radial-gradient(#efb456 3%, 8%, #7daaf2 30%, #6787fc, #5076fc);background-size: 200% 250%; background-position:40% 100%; background-repeat: no-repeat;opacity: 0.8;
}
}

 @keyframes sunset {
  0%{ background: radial-gradient(#efb456 5%, 10%, #7daaf2 30%, #6787fc, #5076fc);background-size: 200% 250%;background-position:40% 100%;  background-repeat: no-repeat;opacity: 0.8;}
   25%{
      background: radial-gradient(#ed9f23, #4668d6, #171e36, #253056);background-size: 200% 250%;background-position:55% 75%;  background-repeat: no-repeat;opacity: 0.8;
     
   }
   
    50%{background: radial-gradient(#ed9c1a, #2c55db, #111628, #141b30);background-size: 200% 250%; opacity: 0.85;background-position:70% 50%; opacity: 0.9;}
   
   75%{background-position: 85% 25%; opacity: 0.95;}
   
    100%{background-position:100% 0%; opacity: 1;} 
}

.button-container {
  display: flex;
  justify-content: center;
}

.round-button {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 10px;
 
}


